@model CollegeManagementSystem.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>

<form method="post" asp-action="Login">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <button class="btn btn-primary">Login</button>
</form>
<p>New student? <a href="/Account/RegisterStudent">Register here</a></p>
